<br />
<br />
<section>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bi bi-grid"></i></a>
				Blogs
        </li>
				<li class="breadcrumb-item active" aria-current="page">Add Blog</li>
			</ol>
		</nav>
	</div>
    <div class="text-black" style="border-radius: 25px">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12 col-xl-8 order-2 order-lg-1">
            <p class="text-center  h1 ">
              Add Blog
            </p>
      
            <form class="mx-1 mx-md-4 w-100" [formGroup]="addform" (submit)="addblog($event)">
             <!-- categories -->
                <div class="mb-2 form-outline">
                
                    <label for="dropdown"style="font-weight: bolder;">Categories </label>
                    
                        <select  id="dropdown" name="dropdown"  formControlName="CategoryId" class="form-select" 
                        (change)="onCategoryChange($event)" >
                            <option [value]="item.id" *ngFor="let item of categories">
                                {{ item.name}}
                            </option>
                        </select>
                   
               
            </div>
              
              <!-- title -->
                <div class="mb-4">
                <label for="header1" style="font-weight: bolder;">Title</label>
                <div class="form-outline">
                  <input
                    type="text"
                    id="header1"
                    class="form-control"
                    placeholder="Enter title"
                    formControlName="title"
                    #tit
                    (change)="ontitlecahnge(tit.value)"
                    [ngClass]="{
                      'is-valid': titleControl.valid && titleControl.touched,
                      'is-invalid': titleControl.invalid && titleControl.touched
                    }"
                    required
                  />
               
                </div>
              </div>
        <!-- Description -->
              <div class="mb-4">
                <label for="shortDescription1"style="font-weight: bolder;">Short Description</label>
                <div class="form-outline">
                  <textarea
                    id="shortDescription1"
                    class="form-control"
                    placeholder="Blog short description"
                    #des
                    (change)="ondescripcahnge(des.value)"
                    formControlName="Description"
                    [ngClass]="{
                      'is-valid': descriptionControl.valid && descriptionControl.touched,
                      'is-invalid': descriptionControl.invalid && descriptionControl.touched
                    }"
                    required
                  ></textarea>             
                </div>
              </div> 

      
               <!-- details  -->
                <div class="mb-4">
                <div class="form-outline">
                  <label for="header" style="font-weight: bolder;">Details</label>
          <ckeditor [editor]="Editor" [config]="editorConfig"
          [formControl]="addform.get('details')" id="details"
          formControlName="details" data=""     
          >
        </ckeditor>
                </div>
              </div>
     
              <div class="mb-4 text-center">
                <button type="submit"  class=" px-5 btn btn-light btn-block mb-4">Submit</button>
              </div>          
              </form>
          </div>
        </div>
      </div>
  <br>
  <br>
</section>
