<div class="row mt-3">
  <h2 class="text-center col-12">All Teachers</h2>
    <div class="col-12">
      <div class="table-responsive align-middle">

        <table class=" table table-striped ">
            <thead>
              <tr class="align-middle">
                <th scope="col"> Name</th>
                <th scope="col">country</th>
                <th scope="col">Number Of Lectures /week</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td>Ahmed Refaat</td>
                <td> Egypt</td>
                <td>6 Lecture /week</td>
                <td>
                  <button class="btn btn-light ms-2">
                    <i
                      style="cursor: pointer"
                      class="bi fs-4 fa fa-solid fa-pencil"
                    ></i>
                  </button>
                  <button class="btn btn-light ms-2">
                    <i
                      style="cursor: pointer"
                      class="bi fs-4 fa bx bx-trash me-0 text-center align-midle"
                    ></i>
                  </button>
                </td>
                
              </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>








