<div class="table-responsive">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>#</th>
        <th>categoryName</th>
        <th>Add SubCategory</th>
        <th>subcategoryNames</th>
        <th>image</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <tr *ngFor="let item of Categories; let i = index">
        <td style="width: 5%">{{ i + 1 }}</td>
        <td style="width: 20%">
          <p>{{ item.categoryName }}</p>
        </td>
        <td>
          <button
            class="btn btn-light "
            style="font-size: 12px;text-wrap: nowrap;"
            [routerLink]="['/Category/AddSubCategory/', item.categoryId]"
          >
            Add SubCategory
          </button>
        </td>
        <!-- <td>{{item.numberOfSkillsInSubcategory}}</td> -->
        <td style="width: 40%">
          <ol *ngIf="item?.subcategorys != 0">
            <li
              *ngFor="let subcategory of item?.subcategorys; let i = index"
              style="
                margin-left: -16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <span>{{ subcategory?.subcategoryName }}</span>
              
              <div
                class="d-fex align-items-center"
                style="display: flex; margin-left: 10px"
              >
             
                <button class="btn btn-light">
                  <i
                    class="bi fs-6 fa bx bx-trash me-0 text-center align-midle"
                    (click)="deleteSubCategory(subcategory.subcategoryid)"
                  ></i>
                </button>
                <button class="btn btn-light mx-3 my-2">
                  <i
                    style="cursor: pointer"
                    class="bi fs-6 fa fa-solid fa-pencil me-0 text-center align-midle"
                    routerLink="/Category/AddSubCategory/{{item.categoryId}}/{{subcategory.subcategoryid}}"
                    routerLinkActive="router-link-active"
                  ></i>
                </button>
              </div>
            </li>
          </ol>
          <span *ngIf="item?.subcategorys.length == 0" class="text-warning"
            >There is no SubCategories</span
          >
        </td>
        <td>
          <img width="50px " height="50px" src="{{item.attachmentUrl}}" alt="">
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-light ms-2">
              <i
                style="cursor: pointer"
                class="bi fs-4 fa fa-solid fa-pencil"
                routerLink="/Category/addCategory/{{item.categoryId}}"
                routerLinkActive="router-link-active"
              ></i>
            </button>
            <button class="btn btn-light ms-2">
              <i
                style="cursor: pointer"
                class="bi fs-4 fa bx bx-trash me-0 text-center align-midle"
                (click)="delete(item.categoryId)"
              ></i>
            </button>
            <button class="btn btn-light ms-2 ">
              <i
                style="cursor: pointer"
                (click)="UsingInHome(item.categoryId)"
                class="fs-4 fa fa-regular fa-circle"
                [style]="{ color: item.usingInHome ? 'green' : 'red' }"
              ></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
